@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");

$font-family: "Montserrat";
$font-size-extra-small: 8px;
$font-size-small: 10px;
$font-size-regular: 14px;
$font-size-medium: 20px;
$font-size-large: 28px;
