@import "./../styles/fonts";
@import "./../styles/colors";
@import "./../styles/spacing";

.btn {
  font-family: $font-family;
  cursor: pointer;
  font-size: $font-size-regular;
  padding: $spacing-extra-tight;
  transition: all 300ms ease 0s;
}

.btn.btn--primary {
  color: $white;
  background: $green;
  border: none;

  &:hover {
    background: $light-green;
  }
}

.btn.btn--secondary {
  color: $green;
  background: transparent;
  border: 1px solid $green;

  &:hover {
    color: $white;
    background: $light-green;
    border-color: transparent;
  }
}
